<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ДОДО ПИЦЦА</title>
</head>
<body>
<div>
    <div th:if="${ordersList.isEmpty()}">
        <h1>Заказов нет</h1>
    </div>
    <div th:each="i, j : ${ordersList}">
        <form method="post"
              th:action="@{/dodo{id}/make-order/{orderId}(id=${building.id}, orderId=${j.index})}">
            <h1 th:text="'Доставка №'+${j.count}+' - Адрес: '+ ${i.address} + ' - ФИО: '+ ${i.fio}"></h1>
            <div th:each="product : ${i.getProductOrderDTOList()}">
                <p th:text="${product.title}"></p>
            </div>
            <input type="submit" value="Готово">
        </form>
    </div>
</div>
</body>
</html>